@model Marketplace.Entities.Auction

<h2>
    Create Auction
</h2>
<br />

<form id="createForm" method="post" action="Auctions/Create/">
    <div class="form-group">
        <label>
            Title
        </label>
        <input class="form-control" name="Title" required/>
    </div>
    <div class="form-group">
        <label>
            Description
        </label>
        <input class="form-control" name="Description" required/>
    </div>
    <div class="form-group">
        <label>
            Actual Amount
        </label>
        <input class="form-control" name="ActualAmount" required/>
    </div>
    <div class="form-group">
        <label>
            Start Time
        </label>
        <input class="form-control" name="StartTime" required/>
    </div>
   
    <div class="form-group">
        <label>
            End Time
        </label>
        <input class="form-control" name="EndTime" required/>
    </div>
  
    <button type="button" id="saveButton" class="btn btn-outline-success">
        Save
    </button>

</form>

<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "/Auctions/Create",
            method: "post",
            data: $("#createForm").serialize()
        })
            .done(function (response) {
                $("#contentArea").html(response);
            });
    });

</script>