<h2>
    Create Auction
</h2>
<br />

<form method="post">
    <label>
        Title
    </label>
    <input  name="Title"/>

    <br />
    <label>
        Description
    </label>
    <input  name="Description"/>
    <br />
    <label>
        ActualAmount
    </label>
    <input name="ActualAmount"/>
    <br />
    <label>
        StartTime
    </label>
    <input name="StartTime"/>
    <br />
    <label>
        EndTime
    </label>
    <input name="EndTime"/>

    <br />

    <button>
        Save
    </button>

</form>